@inherits LayoutComponentBase

<RadzenDialog/>
<main>
    <article class="content px-4">
        @Body
    </article>
</main>
<MudThemeProvider Theme="myTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout></MudLayout>

@code
{
    private MudTheme myTheme = new()
    {
        Palette = new Palette
        {
                Primary = "#EA3C12",
                Secondary = "#282B28",
                Info = "#007fff",
                Success = "#2ECC40",
                Warning = "#FF851B",
                Error = "#ff0000",
                AppbarBackground = "#85144b"
    // more color properties
        }
    };
}