@inherits LayoutComponentBase

<div class="page">


    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<MudThemeProvider Theme="myTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code
{


    private readonly MudTheme myTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#EA3C12",
            Secondary = "#282B28",
            Info = "#007FFF",
            Success = "#2ECC40",
            Warning = "#FF851B",
            Error = "#F012BE",
            AppbarBackground = "#85144b"
    // more color properties
        }
    };

}