@page "/Settings"
@inject UserService userService






<div style="display: flex; flex-direction: row">
    <div class="content-section-title" style="margin-left: 15%;">Username</div>
</div>

<ul>

    @foreach (var item in users)
    {
        <li class="adobe-product">

            <div class="products">

                <img src="user-profile.png" style="width: 40px; width: 40px; border-radius: 5px;" />

            </div>
            <span class="status" style=" margin-right: 56%">
                @item.Username
            </span>


            <div class="button-wrapper">

                <div class="button-wrapper">
                    <button @onclick="() => Delete(item)" class="content-button status-button">Delete</button>
                </div>
                


            </div>
        </li>
    }

</ul>

@code {

    private List<UserModel> users;


    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetAllUsers();
    }


    async Task Delete(UserModel user)
    {
        userService.DeleteUserById(user._id);
        users.Remove(user);

    }

   
}
